@import "mixin";

.cardsDecoration {
  @include adaptiv-padding(150, 50);

  &-wrapper {
    & > .wrapper-title {
      @include font_title;
    }

    .wrapper-swiper {
      .arrows {
        display: none;
      }

      .swiper-elements {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 80px;

        .element {
          width: 30%;
          font-family: 'Gilroy', sans-serif;
          margin-top: 50px;
          padding: 10px;
          box-sizing: border-box;

          .wp {
            box-shadow: 0 0 13px black;
            background: white;
            height: 100%;

            .wp-wrapper {
              padding: 40px 0;

              & > .title {
                display: flex;
                padding: 0 40px;

                .image {
                  width: 50px;
                  margin-right: 20px;

                  img {
                    width: 100%;
                  }
                }

                .text {
                  text-align: center;

                  .title {
                    @include font_standard;
                    font-weight: 600;
                  }

                  .description {
                    @include font_average;
                  }
                }
              }

              .body {
                margin-top: 30px;
                padding: 0 40px;
                @include font_standard;

                div {
                  margin-top: 10px;
                }
              }

              .costs {
                background: linear-gradient(90deg, $color_gold, #eedea9);
                text-align: center;
                padding: 10px 0;
                margin-top: 30px;

                .title {
                  @include font_standard;
                }

                .cost {
                  @include font_large;

                  span {
                    font-weight: 600;
                  }
                }
              }

              button {
                width: 80%;
                border: 2px solid $color_blue;
                padding: 15px 0;
                background: none;
                display: block;
                margin: auto;
                margin-top: 30px;
                @include font_standard;
              }

              a {
                text-align: center;
                margin-top: 20px;
                font-weight: bold;
                @include font_standard;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}