@import 'mixin';

.contact {
  background: url("/public/image/background/main/contacts.jpg") no-repeat center / cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.52);
}

.contactsDirector {
  @include adaptiv-padding(150, 50);

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-image {
      width: 40%;
      max-width: 400px;

      img {
        width: 100%;
      }
    }

    .wrapper-textarea {
      width: 50%;

      .text {
        @include font_standard;
      }

      button {
        @include button;
        @include button;
        margin-top: 40px;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.contactsSteps {
  background: url("/public/image/bg_containers/wave.png") no-repeat center right / contain;
  @include adaptiv-padding(150, 50);

  &-wrapper {
    .wrapper-title {
      @include font_title;
    }

    .wrapper-container {
      .container-swiper {
        margin-top: 50px;
        .swiper-wrapper {
          display: flex;
          justify-content: space-between;

          .slide {
            width: 18%;
            box-sizing: border-box;

            .slide-wrapper {
              background: white;
              box-shadow: 0 0 10px black;
              padding: 20px 30px;
              box-sizing: border-box;

              .title {
                @include font_large;
              }

              .description {
                @include font_small;
                padding-bottom: 50px;
                margin-top: 30px;
              }

              .number {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid $color_blue;
                position: relative;

                span {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(1.4);
                  @include font_standard;
                }
              }
            }
          }
        }
      }
    }
  }
}

.contactsMap {
  @include adaptiv-padding(150, 50);

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-body {
      width: 45%;

      .title {
        font-weight: bold;
        @include font_large;
      }

      .text {
        @include font_standard;
        margin-top: 30px;

        div {
          font-weight: bold;
        }
      }
    }

    .wrapper-map {
      width: 45%;

      iframe {
        width: 100%;
        border: none;
      }
    }
  }
}