@media screen and (max-width: 1150px) {

  .romaniaAdvantages {

    &-wrapper {
      .wrapper-container {
        .container-swiper {
          .swiper-wrapper {
            .slide {
              width: 45%;
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 800px) {

  .romaniaAdvantages {

    &-wrapper {

      .wrapper-container {

        .container-swiper {
          .swiper-wrapper {

            .slide {
              .slide-content {
                padding: 40px 20px;
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 600px) {

  .romaniaAdvantages {

    &-wrapper {

      .wrapper-container {

        .arrows {
          display: flex;
        }

        .container-swiper {
          position: relative;
          overflow: hidden;
          width: 100%;

          .swiper-wrapper {
            position: relative;
            flex-wrap: nowrap;

            .slide {
              flex-shrink: 0;
              padding: 10px;
              box-sizing: border-box;

              .slide-content {

                &:hover {
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
  }

}